/*  Cosas Generales  */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Blinker", sans-serif;
    background-color: rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    scroll-behavior: smooth;
}
main {
    text-align: center; /
}
footer {
    margin-top: auto;
}
nav, .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15svh;
    width: 100svw;
    background-color: rgb(0, 95, 136);
    box-shadow:  0px 0px 25px rgba(0, 0, 0, 0.459);
    list-style: none;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}
ul{
    list-style: none;
}
a, li{
    text-decoration: none;
    color: white;
}

/* Resto CSS */
.home{
    max-height: 100svh;
}
.name-title{
    display: flex;
    justify-content: center;
    font-size: 3.8rem;
    padding-top: 20%;
}
sub{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 40%;
}
.about-me{
    font-size: 3rem;
    color: rgb(250, 30, 30);
}
.sobre-mi{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow:  0px 0px 25px rgba(255, 255, 255, 1);
    background-color: aliceblue;
    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;
}