/*  Cosas Generales  */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Blinker", sans-serif;
    background-color: rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    text-align: center; /
}
footer {
    margin-top: auto;
}

nav, .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15svh;
    width: 100svw;
    background-color: rgb(0, 95, 136);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Resto CSS */

.name-title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-top: 20%;
}
sub{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 20%;
}
.sobre-mi{
    display: flex;
    align-items: center;
    justify-content: center;
}
