/*  Cosas Generales  */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Blinker", sans-serif;
}
nav, .nav-bar, .title-name{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15svh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
